* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.btn-primary {
    background: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
}

.btn-secondary {
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F15B22;
}

.description {
    font-size: 14px;
    color: #444343;
    margin-bottom: 20px;
}

.container {
    max-width: 80vw;
    margin: 150px auto;
}
.title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Banner Section CSS START */
.banner {
    background: url(../image/banner/banner1.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
}

.banner .container {
    width: 90%;
    display: flex;
    justify-content: end;
}

.banner-content {
    width: 40%;
    padding: 0 50px;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Banner Section CSS END */

/* Feature Section CSS START */
.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-content-left{
    width: 50%;
}
.feature-content-right{
    width: 50%;
    padding: 0 100px;
}
.feature-content-right ul{
    margin-top: 30px;
}
.feature-content-right ul li{
    margin-bottom: 20px;
    color: #444343;
}
.feature-content-right ul li i{
    margin-right: 10px;
    color: rgb(183, 0, 255);
}
/* Feature Section CSS END */

/* Plans Section CSS START */
/* Plans Section CSS END */

/* Footer Section CSS START */
/* Footer Section CSS END */