* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}
button{
    cursor: pointer;
}

.btn-primary {
    background: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
}

.btn-secondary {
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(183, 0, 255);
}

.description {
    font-size: 14px;
    color: #444343;
    margin-bottom: 20px;
}

.container {
    max-width: 80vw;
    margin: 150px auto;
}
.title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Banner Section CSS START */
.banner {
    background: url(../image/banner/banner1.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
}

.banner .container {
    width: 90%;
    display: flex;
    justify-content: end;
}

.banner-content {
    width: 40%;
    padding: 0 50px;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Banner Section CSS END */

/* Feature Section CSS START */
.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-content-left{
    width: 50%;
}
.feature-content-right{
    width: 50%;
    padding: 0 100px;
}
.feature-content-right ul{
    margin-top: 30px;
}
.feature-content-right ul li{
    margin-bottom: 20px;
    color: #444343;
}
.feature-content-right ul li i{
    margin-right: 10px;
    color: rgb(183, 0, 255);
}
/* Feature Section CSS END */

/* Plans Section CSS START */
.plan-content{
    margin: 100px auto;
    text-align: center;
}
.plan-cards{
    margin-top: 60px;
    display: flex;
}
.plan-description{
    font-size: 15px;
    padding: 0 10px;
    color: #444343;
    margin-top: 15px;
}
/* Plans Section CSS END */

/* CTA Section CSS START */
.cta{
    /* background: #F15B22; */
    background: linear-gradient(to right, rgb(183, 0, 255), rgb(0,0,0, 0)), url(../image/watch.png) no-repeat center center;
    background-size: cover;
    padding: 100px 50px;
    text-align: left;
    border-radius: 10px;
    color: #fff;
}
.cta .title{
    width: 40%;
}

/* CTA Section CSS END */

/* Footer Section CSS START */
/* Footer Section CSS END */